	body {
		background-image: url(../img/cardbg.png);
		background-repeat: no-repeat;
        background-position-x: center;
        background-attachment: fixed;
	}
	/*注册框样式*/
	#regist {
		width: 400px;
		position: absolute;
		top: 50%;
		left: 50%;
	    background-color: #f2f2f2;
	    margin: -200px 0 0 -200px;
	    padding: 0px 20px 20px 20px;
	    border-radius: 10px;
	}
	#regist input[type=text], input[type=password], input[type=confirmPassword] {
	    width: 100%;
	    margin: 8px 0;
	    padding: 12px 20px;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	#regist input[type=submit] {
	    width: 100%;
	    background-color: #4caf50;
	    color: white;
	    margin: 8px 0;
	    border: none;
	    padding: 14px 20px;
	    border-radius: 4px;
	}
	#regist input[type=submit]:hover {
	    cursor: pointer;
	    background-color: #45a049;
	}